body.indentHeading {
  &.h1SectionBreak {
    div.heading {
      .foldWrapper {
        .fold {
          width: calc(100% + 2rem + 10px);
          left: 0;
        }
      }
    }
  }

  div.heading {
    border-left: 3px solid rgba(#0d0d0d, 0.1);
    padding-left: 1rem;
    position: relative;
    margin-top: 1rem;

    .title::before {
      content: attr(level);
      position: absolute;
      background-color: tomato;
      font-size: 12px !important;
      height: 20px;
      width: 20px;
      top: -16px;
      left: 33px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}

body.h1SectionBreak {
  .ProseMirror {
    background-color: transparent;
    .heading {
      .heading .heading:last-of-type {
        margin-bottom: 0 !important;
      }

      .foldWrapper {
        .fold {
          width: calc(100% + 5rem + 6px);
          left: -45px;
        }
      }

      &[level="1"] {
        padding: 2.5rem;
        padding-bottom: 0;
        border-bottom: 1px solid #e1e6e7;
        margin-bottom: 1rem;
      }
    }
  }
}

// if it is mobile
@media (max-width: 640px) {
  .ProseMirror {
    background-color: #f8f9fa;
    padding: 12px;


    &.loading {
      padding: 0 !important;
    }

    .heading {
      margin: 0 !important;
      padding: 0 !important;

      &[level="1"] {
        margin-bottom: 0 !important;
        // border: none !important;
        box-shadow: none !important;
        // border-radius: 6px;
        border-bottom: none !important;
        padding: 8px !important;

        &:first-of-type {
          border-radius: 4px 4px 0 0 !important;
        }

        &:last-of-type {
          border-bottom: 1px solid #e1e6e7 !important;
          border-radius: 0 0 4px 4px !important;
        }
      }


    }
  }
}

.ProseMirror {
  .heading {
    &[level="1"] {
      padding: 2.5rem;
      padding-bottom: .5rem;
      margin-top: 0;
      border: 1px solid #e1e6e7;
      border-bottom: none;
      border-top: none;

      &:first-of-type {
        border-top: 1px solid #e1e6e7;
      }

      &:last-of-type {
        border-bottom: 1px solid #e1e6e7;
      }
    }
  }

  .title {
    z-index: 9;
    width: 100%;

    &.is-empty::before {
      position: absolute;
    }

    &[level="1"].is-empty::before {
      font-size: 3.75rem;
    }

    &[level="2"].is-empty::before {
      font-size: 3rem;
    }

    &[level="3"].is-empty::before {
      font-size: 2.25rem;
    }

    &[level="4"].is-empty::before {
      font-size: 1.875rem;
    }

    &[level="5"].is-empty::before {
      font-size: 1.5rem;
    }

    &[level="6"].is-empty::before {
      font-size: 1.25rem;
    }

    &[level="7"].is-empty::before {
      font-size: 1.125rem;
    }

    &[level="8"].is-empty::before {
      font-size: 1.125rem;
    }

    &[level="9"].is-empty::before {
      font-size: 1.125rem;
    }

    &[level="10"].is-empty::before {
      font-size: 1.125rem;
    }

    :is(h1, h2, h3, h4, h5, h6, h7, h8, h9, h10) {
      margin-left: -33px;
      width: 100%;
    }

  }
}
