:root {
  --app-height: 100%;
}

.m_mobile {
  html,
  body {
    height: var(--app-height);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .tiptap__toc .toc__item > span .btnFold::before {
    opacity: 1;
  }

  .ProseMirror {
    .heading {
      &[level='1'] {
        border: none;
      }
    }

    .title {
      padding-right: 40px;
    }

    .heading:not([level='1']) {
      .btn_openChatBox {
        right: -12px !important;
      }
    }
    .wrapBlock {
      .buttonWrapper {
        visibility: visible !important;
        position: static;
        .btn_openChatBox {
          padding: 6px 0;
          @apply absolute right-0 ml-auto flex items-center justify-end overflow-hidden rounded-l-lg bg-neutral fill-white text-neutral-content;
          svg {
            padding-right: 8px;
            width: 24px;
            height: 24px;
          }
          span {
            padding: 0 6px;
          }
        }
      }
    }

    div.heading {
      .foldWrapper .fold {
        width: calc(100% + 1rem + 6px);
        left: -12px;
      }

      &.closed {
        &[level='1'] {
          > .wrapBlock > .foldWrapper .fold {
            transition: none;
            width: calc(100% + 1rem + 6px);
            left: -11px;
          }
        }
      }
    }
  }
}

.btn_bigBluePencil {
  transition: all 0.3s linear 2s;
  transform: translateY(200%);
  box-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  &.active {
    transform: translateY(0);
  }
}
