.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  @apply h-full
} */

* {
  @apply box-border font-sans
}

.dark * {
  @apply bg-slate-800 text-slate-400;

}

.dark {

  h1,
  h2,
  h3,
  h4,
  h5,
  h4 {
    @apply text-white font-medium tracking-tight
  }

  border-color: #283141;

  svg {
    color: #fff;
    fill: #fff;
  }

  p {
    @apply text-sm text-slate-400
  }

  button {
    @apply text-white
  }
}


.ProseMirror {
  @apply h-full outline-none;
}


html:not(.m_mobile) {
  @apply p-0 m-0 max-h-full min-h-full h-full;

  body {
    @apply p-0 m-0 max-h-full min-h-full h-full
  }
}

#root,
#__next {
  @apply h-full
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  } */

}

.Popover {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 10, 20, 0.1);
  border: 1px solid #ddd;
  font-size: 90%;
  padding: 4px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);
}

.Dialog-overlay {
  @apply w-full h-full flex align-middle items-center justify-center absolute z-50 backdrop-blur-sm bg-slate-300/20;
}

.Dialog {
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}

