**/node_modules
**/dist
**/build
**/.next
**/.cache
**/coverage
**/.turbo
**/bun.lockb
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/.env*
**/next-env.d.ts
**/next.config.ts
**/public
./components/icons/icons.jsx
