/* Basic editor styles */

$Pad_Header__height: 64px;
$Pad_Toolbar__height: 38px;


.headings {
  display: flex;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;


  >button {
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;

    &::before {
      content: '\25B6';
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5em;
      height: 1.5em;
    }
  }

  &.is-open>button::before {
    content: '\25BC';
  }

  >div {
    flex: 1 1 auto;
  }

  :last-child {
    margin-bottom: 0;
  }
}


.drag_box {
  position: relative;

  &:hover {
    >#dragspan {
      opacity: 1;
    }
  }


  #dragspan {
    display: block;
    position: absolute;
    left: -20px;
    top: 0;
    opacity: 0;
    transition: all .1s cubic-bezier(0.39, 0.575, 0.565, 1);


    &:hover {
      opacity: 1;
    }

    &::after {
      content: '';
      display: block;
      flex: 0 0 auto;
      position: relative;
      width: 1rem;
      height: 1rem;
      top: 0.3rem;
      margin-right: 0.5rem;
      cursor: grab;
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16"><path fill-opacity="0.2" d="M4 14c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zM2 6C.9 6 0 6.9 0 8s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6C.9 0 0 .9 0 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" /></svg>');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }


}

.pad {
  position: relative;
  @apply h-full;

  .header {
    // height: $Pad_Header__height;
  }

  .toolbars {
    // height: $Pad_Toolbar__height;
  }

  .editor {
    background-color: #f8f9fa;
    // max-height: calc(100% - ($Pad_Header__height + $Pad_Toolbar__height));
    // min-height: calc(100% - ($Pad_Header__height + $Pad_Toolbar__height));
    overflow: auto;
    // @apply absolute;
    // top: calc(($Pad_Header__height + $Pad_Toolbar__height));

    .tipta__editor {
      @apply max-w-4xl w-full;
      // height: calc(100% - ($Pad_Header__height + $Pad_Toolbar__height));
      // overflow: auto;
    }
  }
}





.nodeStyle__control,
.nodeStyle__value-container {
  min-height: 28px !important;
  height: 28px;
}

.nodeStyle__control {
  border-width: 0 !important;
  padding: 0 0 0 4px !important;
}

.nodeStyle__control:hover {
  background-color: #eee;

}

.nodeStyle__input-container,
.nodeStyle__value-container {
  margin: 0 !important;
  padding: 0 !important;
}

.nodeStyle__indicator-separator {
  margin: 5px 0 !important;
  display: none !important;
}

.nodeStyle__indicator {
  padding: 0 !important;

}

.nodeStyle__menu {
  padding: 0 !important;
  margin: 0 !important;
}



.toc {
  background: rgba(black, 0.1);
  border-radius: 0.5rem;
  opacity: 0.75;
  padding: 0.75rem;
  min-width: 200px;
  text-align: left;
  line-height: 2rem;

  &__list {
    list-style: none;
    padding: 0;

    &::before {
      content: "Table of Contents";
      display: block;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.025rem;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  &__item {
    a:hover {
      opacity: 0.5;
    }

    &--3 {
      padding-left: 1rem;
    }

    &--4 {
      padding-left: 2rem;
    }

    &--5 {
      padding-left: 3rem;
    }

    &--6 {
      padding-left: 4rem;
    }
  }
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}


.editorButtons {
  @apply border-t border-b;

  .divided {
    display: inline-block;
    height: 20px;
    @apply border-l mx-[10px] my-[6px];
    // float: left;

  }


  button {
    float: left;
    margin: 4px 2px;
    // padding: 2px 6px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: 28px;
    width: 28px;
    @apply flex rounded items-center justify-center relative;


    svg {}

    &:hover {
      background: #eee;
      color: black;
    }

    &.is-active {
      background-color: #e8f0fe;
      color: #1a73e8;

      svg {
        fill: #1a73e8;

      }
    }



    &[disabled]:hover {
      color: #aaa;
      background-color: transparent;
    }
  }
}


.ProseMirror {
  .headingWrapper {
    border: 1px solid black;
    padding: 4px;
    border-radius: 6px;
    margin: 6px 0;
  }



  text-align: left;
  // border: 1px solid #616161;
  // border-radius: 6px;
  // padding: 6px;
  outline: none;
  min-height: 800px;

  >*+* {
    margin-top: 0.75em;
  }

  div.heading {
    border-left: 3px solid rgba(#0d0d0d, 0.1);
    padding-left: 1rem;
    position: relative;
    margin-top: 1rem;

    [level]::before {
      content: attr(level);
      position: absolute;
      background-color: tomato;
      font-size: 12px;
      height: 20px;
      width: 20px;
      top: -10px;
      left: -11px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .contentWrapper {
      // border-bottom: 3px solid rgba(#0d0d0d, 0.1);
      padding-bottom: 1rem;

    }

  }



  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;

      >label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      >div {
        flex: 1 1 auto;
      }
    }
  }

  ul {
    list-style-type: revert;
  }

  ol {
    list-style-type: decimal;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    @apply font-medium mt-0 mb-2;
  }



  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-2xl;
  }

  h6 {
    @apply text-xl;
  }



  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    border: none;
    border-top: 2px solid #fff;
    margin: 2rem 0;
  }

  .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
  }
}
