/* Tabs.module.css */

.tabList,
.tabPanels {
  transition: all 0.5s ease-in-out;
}


.tabs {
  position: relative;
}

.tabList {
  border-bottom: 1px solid #ccc;
  /* background-color: #ddd; */
  /* bottom: -2px; */
}


.highlight {
  transition: left 0.3s, width 0.3s;
}
