.Dialog-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 50;
  backdrop-filter: blur(4px);
  background-color: color-mix(in oklch, var(--color-base-content) 20%, transparent);
}

.Dialog {
  margin: 15px;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  padding: 15px;
  border-radius: var(--radius-box);
}
