// Heading Actions
// =============================================================================

.ha-wrap {
  display: inline-flex;
  align-items: center;

  .ha-single {
    display: inline-flex;
  }
  .ha-group {
    display: none;
  }

  &.has-selection {
    .ha-single {
      display: none;
    }
    .ha-group {
      display: flex;
    }
  }
}

.title {
  .ha-wrap.has-selection > .ha-group {
    position: absolute;
    right: -3.9rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    .ha-chat-btn {
      display: none;
    }
  }

  &:hover .ha-wrap.has-selection > .ha-group {
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-docy, #fff);
    box-shadow:
      0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06),
      0 0 0 1px rgba(0, 0, 0, 0.05);
    gap: 2px;
    border-radius: 46%;

    .ha-comment-btn {
      border-radius: 0 0 46% 46% !important;
    }
    .ha-chat-btn {
      border-radius: 46% 46% 0 0 !important;
    }

    .ha-chat-btn,
    .ha-comment-btn {
      position: relative !important;
      transform: none !important;
      box-shadow: none;
      border-radius: 0;
      border: 0;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      display: flex;
    }
  }
}

.ha-chat-btn,
.ha-comment-btn {
  svg {
    position: relative;
    top: 1px;
  }
}
