.tiptap-toolbar-mobile {
  user-select: none;
  pointer-events: none;

  .divided {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left-width: 1px;
  }

  button {
    &.is-active {
      background-color: oklch(var(--p) / 0.1);
      color: oklch(var(--p));

      svg {
        fill: oklch(var(--p));
      }
    }

    &[disabled]:hover {
      color: oklch(var(--bc) / 0.4);
      background-color: transparent;
    }
  }

  &__main {
    pointer-events: auto;
    box-shadow:
      0 -4px 6px -1px rgba(0, 0, 0, 0.1),
      0 -2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &__format-selection {
    pointer-events: auto;
  }
}

.tiptap__toolbar,
.chatroom__toolbar {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: oklch(var(--b3));

  .divided {
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left-width: 1px;
    border-color: oklch(var(--b3));
  }

  button {
    &.is-active {
      background-color: oklch(var(--p) / 0.1);
      color: oklch(var(--p));

      svg {
        fill: oklch(var(--p));
      }
    }

    &[disabled]:hover {
      color: oklch(var(--bc) / 0.4);
      background-color: transparent;
    }
  }

  .gearModal,
  .filterModal {
    width: 430px;
    background: oklch(var(--b1));
    border-radius: var(--rounded-box);

    .content {
      display: flex;
      align-items: center;
    }
  }
}

.chatroom__toolbar {
  border: none;
}

button {
  &[disabled] {
    svg {
      fill: oklch(var(--bc) / 0.4);
    }
  }
}
