.Dialog-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 50;
  backdrop-filter: blur(4px);
  background-color: rgb(203 213 225 / 0.2);
}

.Dialog {
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}
