.tiptap__toc {
  .toc {
    background: rgba(black, 0.1);
    border-radius: 0.5rem;
    opacity: 0.75;
    padding: 0.75rem;
    min-width: 200px;
    text-align: left;
    line-height: 2rem;

    &__list {
      list-style: none;

      &::before {
        display: block;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 0.025rem;
        opacity: 0.5;
        text-transform: uppercase;
        padding-bottom: 20px;
      }
    }

    &__item {
      padding-left: 1.5rem;
      position: relative;
      width: 100%;
      margin: 6px 0;

      > span {
        display: flex;
        align-items: center;
      }

      .btnChat {
        opacity: 0;
      }

      &:hover > span > span > .btnChat {
        opacity: 1;
      }

      .btnFold {
        transition: all 0.2s ease-in-out;
        margin-right: 4px;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 20px;
        height: 20px;

        &:hover > svg {
          fill: #2778ff;
        }

        &.closed {
          transform: rotate(0deg);
        }

        &.opened {
          transform: rotate(90deg);
        }
      }

      &:hover > span > .btnFold {
        opacity: 1;
      }

      &.active > span a {
        color: #4285f4;

        &::after {
          opacity: 1;
        }
      }

      a {
        font-weight: normal;
        position: relative;
        @apply text-sm text-gray-400;

        &::after {
          content: '';
          display: block;
          width: 100%;
          border: 1px solid #4285f4;
          position: absolute;
          opacity: 0;
          transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        &:hover {
          opacity: 0.5;
          color: #0d0d0d;
        }
      }

      &--1 {
        padding-left: 0 !important;

        > span > a {
          @apply text-base font-medium text-black;
        }
      }
    }
  }
}
