$bg-root: #f8f9fa;

.m_mobile {
  .btnChat {
    opacity: 1 !important;
  }
}

.tiptap__toc {
  padding-left: 20px;
  padding-top: 10px;

  ul > li:hover {
    // change background of ul to red
    & ~ ul {
      // change background of ul to red
      background-color: red;
    }
  }

  .toc__item {
    > a {
      padding: 0.3rem 0.4rem;
      position: relative;
      transition: all 0.2s ease-in-out;
      margin-bottom: 0.1rem;
      &:active {
        .btnChat {
          @apply bg-transparent fill-base-300;
        }
      }
      &.active {
        padding-left: 20px;
        > a {
          color: #fff;
          font-weight: normal;
        }
        .btnChat {
          opacity: 1;
          @apply bg-transparent fill-base-300;
        }

        .btnFold {
          opacity: 1;
          > svg {
            @apply fill-base-300;
          }
        }
      }
    }
  }
  .toc {
    // background: rgba(black, 0.1);
    // border-radius: 0.5rem;
    // opacity: 0.75;
    // padding: 0.75rem;
    // min-width: 200px;
    // text-align: left;
    // line-height: 2rem;

    &__list {
      // list-style: none;

      &::before {
        // display: block;
        // font-size: 0.75rem;
        // font-weight: 700;
        // letter-spacing: 0.025rem;
        // opacity: 0.5;
        // text-transform: uppercase;
        // padding-bottom: 20px;
      }
    }

    &__item {
      .btn_chat {
        display: block;
        width: 16px;
        height: 24px;
        --tooltip-offset: 26px;
        --tooltip-tail-offset: 20px;
        font-weight: normal;
      }
      .btnChat {
        opacity: 0;
        background-color: $bg-root;
        width: 24px;
        border-radius: 6px;
        height: 24px;
        padding: 4px;
        position: absolute;
        right: -5px;
        top: 52%;
        transform: translateY(-50%);
      }

      .btn_chat:hover {
        @apply fill-neutral-content;
      }

      a:not(:active, .active):hover .btnChat {
        @apply bg-base-300;
      }

      &:hover > a > span > .btnChat {
        opacity: 1;
      }

      &:hover > a {
        padding-left: 20px;
      }

      &:hover > a .btn_fold {
        transition-delay: 0.2s;
      }

      .btnFold {
        transition: all 0.1s linear;
        // margin-right: 4px;
        font-weight: normal;
        position: absolute;
        left: 0px;
        top: 50%;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);

        & > svg {
          position: absolute;
          top: 50%;
        }

        &:hover > svg {
          fill: #2778ff;
        }

        &.closed > svg {
          transform: translateY(-50%) rotate(0deg);
        }

        &.opened > svg {
          transform: translateY(-50%) rotate(90deg);
        }
      }

      &:hover > a > .btnFold {
        opacity: 1;
      }

      &.active > span a {
        color: #4285f4;

        &::after {
          opacity: 1;
        }
      }

      a {
        // font-weight: normal;
        // position: relative;
        // width: 100%;
        // @apply text-sm text-gray-400;

        &::after {
          content: '';
          // display: block;
          // width: 100%;
          // border: 1px solid #4285f4;
          // position: absolute;
          // opacity: 0;
          // transition: all 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
      }

      &--1 {
        > a {
          @apply text-base font-semibold text-black;
        }
      }
    }
  }
}
