.tiptap-toolbar-mobile {
  user-select: none;
  pointer-events: none;

  .divided {
    display: inline-block;
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left-width: 1px;
  }

  button {
    &.is-active {
      background-color: #e8f0fe;
      color: #1a73e8;

      svg {
        fill: #1a73e8;
      }
    }

    &[disabled]:hover {
      color: #aaa;
      background-color: transparent;
    }
  }

  &__main {
    pointer-events: auto;
    box-shadow:
      0 -4px 6px -1px rgba(0, 0, 0, 0.1),
      0 -2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  &__format-selection {
    pointer-events: auto;
  }
}

.tiptap__toolbar {
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-color: #e0e0e0;

  .divided {
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-left-width: 1px;
    border-color: #e0e0e0;
  }

  button {
    &.is-active {
      background-color: #e8f0fe;
      color: #1a73e8;

      svg {
        fill: #1a73e8;
      }
    }

    &[disabled]:hover {
      color: #aaa;
      background-color: transparent;
    }
  }

  .gearModal,
  .filterModal {
    width: 430px;
    background: #fff;
    border-radius: 4px;

    .content {
      display: flex;
      align-items: center;
    }
  }
}
