.tiptap__toolbar {
  @apply border-t border-b;

  .divided {
    display: inline-block;
    height: 20px;
    @apply border-l mx-[10px] my-[6px];
  }

  button {
    // float: left;
    // margin: 4px 2px;
    // background-color: transparent;
    // outline: none;
    // cursor: pointer;
    // height: 28px;
    // width: 28px;
    // @apply flex rounded items-center justify-center relative;

    // &:hover {
    //   background: #eee;
    //   color: black;
    // }

    &.is-active {
      background-color: #e8f0fe;
      color: #1a73e8;

      svg {
        fill: #1a73e8;
      }
    }

    &[disabled]:hover {
      color: #aaa;
      background-color: transparent;
    }
  }

  .gearModal,
  .filterModal {
    width: 430px;
    background: #fff;
    border-radius: 4px;

    .content {
      display: flex;
      align-items: center;
    }
  }
}
