/* Basic editor styles */
.tiptap{
  display: flex;
  justify-content: space-between;
  .sidebar {
    margin-right: 20px;
  }
  .editor {
    display: flex;
    flex-direction: column;
  }
  .vl {
    border-left: 4px solid #fff;
    height: 100px;
  }
}



.toc {
  background: rgba(black, 0.1);
  border-radius: 0.5rem;
  opacity: 0.75;
  padding: 0.75rem;
  min-width: 200px;
  text-align: left;
  line-height: 2rem;

  &__list {
    list-style: none;
    padding: 0;

    &::before {
      content: "Table of Contents";
      display: block;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 0.025rem;
      opacity: 0.5;
      text-transform: uppercase;
    }
  }

  &__item {
    a:hover {
      opacity: 0.5;
    }

    &--3 {
      padding-left: 1rem;
    }

    &--4 {
      padding-left: 2rem;
    }

    &--5 {
      padding-left: 3rem;
    }

    &--6 {
      padding-left: 4rem;
    }
  }
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem;
  position: absolute;
  top: -1.4em;
  user-select: none;
  white-space: nowrap;
}


.editorButtons{
    border: 1px solid #616161;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 6px;
    overflow: auto;

    .divided{
      display: inline-block;
      height: 28px;
      border-left: 2px solid #eee;
      float: left;
      margin: 4px 10px;
    }


    button{
      float: left;
      margin: 4px 2px;
      padding: 2px 6px;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid black;
      outline: none;
      cursor: pointer;
      box-shadow: 1px 1px 4px rgb(0,0,0,0.4);
      &:hover{
        background: #eee;
        color: black;
      }
      &.is-active{
        background-color: #0D0D0D;
        color: #fff;
      }
      &[disabled]:hover {
        color: #aaa;
        background-color: transparent;
      }
    }
  }

.ProseMirror {
    text-align: left;
    border: 1px solid #616161;
    border-radius: 6px;
    padding: 6px;
    > * + * {
      margin-top: 0.75em;
    }

    ul[data-type="taskList"] {
      list-style: none;
      padding: 0;

      p {
        margin: 0;
      }

      li {
        display: flex;

        > label {
          flex: 0 0 auto;
          margin-right: 0.5rem;
          user-select: none;
        }

        > div {
          flex: 1 1 auto;
        }
      }
    }

    ul,
    ol {
      padding: 0 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
    }

    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }

    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;

      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }

    img {
      max-width: 100%;
      height: auto;
    }

    blockquote {
      padding-left: 1rem;
      border-left: 2px solid #fff;
    }

    hr {
      border: none;
      border-top: 2px solid #fff;
      margin: 2rem 0;
    }
  }
